doctype html
html(type="en")
  title Proof of Concept
body
  h1 What's in pocEmailProxy Table?
  table
    tr
      td real email
      td proxy email
    for val in values
      tr 
        td= val.real.S
        td= val.proxy.S
    else
      tr
        td --
        td --