doctype html
html(lang="en")
  head
    title POC for Email Proxy via SES - List
  body
    h1 List of Verified Accounts (Email and Domain)
    ul
      each val in values
        li= val
      else
        li No verified accounts.