doctype html
html(type="en")
  title POC
body
  h1 Send An Email
  form(action="/api/send" method="POST" id="addyform")
    select(name='email')
      for prox in proxies
        option(value=prox.proxy.S)= prox.proxy.S
    button Send